version: "3.9"

services:
  app:
    image: node:20-bullseye
    working_dir: /app
    command: sh -c "npm install && npm start"
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:
